



/* barra lateral */

.esq { background:#3B3B3B; width:280px; position:fixed; transition:ease .4s left; top:0; bottom:0; left:0; z-index:99999; }

.esq .in { position:relative; width:100%; height:0; background:inherit; }


/* botão para exibir/esconder barra lateral */

.esq .btnShow { position:absolute; top:0; right:-48px; width:48px; height:48px; background:inherit; border-radius:0 20% 20% 0; }


/* espaço para perfil do usuário */

.esq .perfil { height:160px; padding:20px 0 0; }
.esq .perfil .logo { width:60px; height:60px; margin:0 auto; background:#00F; }
.esq .perfil .nome { color:#FFF; margin:20px 0 0; text-align:center; }


/* menu em modo acordeon */

.esq .accord { position:absolute; top:180px; right:20px; bottom:68px; left:20px; background:inherit; text-align:left; overflow-y:auto; overflow-x:hidden; }
.esq .accord > div { border-bottom:1px solid #4d4d4d; border-top:1px solid #1a1a1a; }
.esq .accord > div > div { border-top:1px solid #4d4d4d; border-bottom:1px solid #1a1a1a; }
.esq .accord label { position:relative; z-index:20; display:block; cursor:pointer; color:#E2E2E2; height:48px; line-height:48px; font-size:1em; }
.esq .accord label:after {  }
.esq .accord label:hover {  }
.esq .accord input:checked + label,
.esq .accord input:checked + label:hover { color:#FFF; }
.esq .accord label:hover:after,
.esq .accord input:checked + label:hover:after {  }
.esq .accord input:checked + label:after {  }
.esq .accord input { display:none; }
.esq .accord article { overflow:hidden; height:0px; position:relative; z-index:10; transition:height 0.3s ease-in-out; padding:0; }
.esq .accord input:checked ~ article { transition:height 0.5s ease-in-out; height:auto; padding:0px 0 12px 8px; }
.esq .accord article .btn { background:url(https://adm.iarremate.com/img/mnu.png) 0px 9px no-repeat; height:32px; line-height:32px; padding:0 0 0 12px; cursor:pointer; color:#FFF; }

.esq .accord a { text-decoration:none; color:inherit; }


/* rodapé da barra da esquerda */

.esq .fot { position:absolute; right:20px; bottom:20px; left:20px; height:28px; border-top:1px solid #FFF; padding:20px 0 0 0; }
.esq .fot .car { color:#FFF; font-size:.8em; float:left; height:28px; line-height:28px; }
.esq .fot .btnSair { float:right; width:80px; height:28px; line-height:28px; text-align:center; background:#3498db; color:#FFF; cursor:pointer; border-radius:4px; font-size:.8em; }
.esq .boxLogin .btnSubmit:hover { background:none; color:#3498db; }

