


/* corpo interno da página */

.pg .corpo { margin:0 0 0 0; padding:0px; }


/* título e subtítulo */

.pg .tit { margin:0 0 24px; color:#538b34; font-size:28px; font-weight:bold; text-align:center; }

.pg .stit { margin:48px 0; color:#538b34; font-size:1.4em; border-top:1px solid #538b34; }
.pg .stit:before {  }


/* campos da ficha */

.pg .lin { margin:0 0 32px 0; min-height:40px; }
.pg .lin .lbl { height:16px; line-height:16px; color:#898989; font-size:0.8em; }
.pg .lin .txt { height:24px; line-height:24px; }
.pg .lin .inf { height:24px; line-height:24px; }
.pg .lin .textarea { height:428px; line-height:18px; margin:0 8px 0 0; }

.pg .lin > .col { float:left; margin:0 8px 0 0; }

.pg .lin > .col1 { width:calc( 10% - 8px ); }
.pg .lin > .col2 { width:calc( 20% - 8px ); }
.pg .lin > .col3 { width:calc( 30% - 8px ); }
.pg .lin > .col4 { width:calc( 40% - 8px ); }
.pg .lin > .col5 { width:calc( 50% - 8px ); }
.pg .lin > .col6 { width:calc( 60% - 8px ); }
.pg .lin > .col7 { width:calc( 70% - 8px ); }
.pg .lin > .col8 { width:calc( 80% - 8px ); }
.pg .lin > .col9 { width:calc( 90% - 8px ); }
.pg .lin > .col10 { width:calc( 100% - 8px ); }

.pg .lin .txt > input { border:0; border-bottom:1px solid #DDD; background:none; width:calc( 100% - 6px ); height:calc( 100% - 1px ); padding:0px 2px;  font-size:1em; }
.pg .lin .txt > input:focus { outline:none; }

.pg .lin .textarea > textarea { border:1px solid #DDD; background:none; width:calc( 100% - 2px ); height:calc( 100% - 2px ); font-size:1em; }
.pg .lin .textarea > textarea:focus { outline:none; }


/* linha com imagens */

.pg .linimg { margin:0 0 4px 16px; line-height:28px; min-height:28px; }
.pg .linimg  > .img { width:120px; padding:0 12px 0 10px; position:relative; float:left; text-align:center; }
.pg .linimg  > .img > .lbl {  }
.pg .linimg  > .img > img { height:60px; width:60px; margin:0px 0 10px 0; }
.pg .linimg  > .img > form > input[type=file] { outline:none; width:0.1em; height:0.1em; z-index:-1; opacity:0; position:absolute; }
.pg .linimg  > .img > form > input[type=file] + label > div { background:#DDD; line-height:24px; height:24px; text-align:center; margin:6px auto 0; border-radius:14px; cursor:pointer; transition:ease .4s all; }
.pg .linimg  > .img > form > input[type=file] + label:hover > div { background:#80d249; color:#FFF; }
.pg .linimg  > .img > form > .btn_remover { background:#DDD; line-height:24px; height:24px; text-align:center; margin:6px auto 0; border-radius:14px; cursor:pointer; transition:ease .4s all; }
.pg .linimg  > .img > form > .btn_remover:hover { background:#d26349; color:#FFF; }

.pg .linimg  > .imgs { padding:0 12px 0 10px; position:relative; float:left; width:800px; margin:0 0 0 30px; }
.pg .linimg  > .imgs > .img { width:140px; height:60px; padding:10px; margin:10px; float:left; border:1px solid #DDD; position:relative; }
.pg .linimg  > .imgs > .img > img,
.pg .linimg  > .imgs > .img > a > img { position:absolute; left:10px; top:10px; }
.pg .linimg  > .imgs > .img > .btn { background:#DDD; line-height:24px; height:24px; text-align:center; margin:3px 0 6px 70px; border-radius:14px; cursor:pointer; transition:ease .4s all; }
.pg .linimg  > .imgs > .img > .btn1:hover { background:#80d249; color:#FFF; }
.pg .linimg  > .imgs > .img > .btn2:hover { background:#d26349; color:#FFF; }
