


/* estilo básico da grade de valores */

div.tableContainer { padding:0; position:relative; }

div.tableContainer table { min-width:880px; }

thead.fixedHeader { width:100%; }

thead.fixedHeader tr { position:sticky; top:49px; display:block; background:#FFF; z-index:9999; }

thead.fixedHeader th { border-bottom:2px solid #3498db; text-align:center; position:relative; color:#3498db; background:#FFF; }
thead.fixedHeader th:first-child { border-left:0; }
thead.fixedHeader th {  }

thead.fixedHeader a,
thead.fixedHeader a:link,
thead.fixedHeader a:visited { color:inherit; display:block; text-decoration:none; width:100% }
thead.fixedHeader a:hover { color:inherit; display:block; text-decoration:underline; width:100% }

tbody.scrollContent { display:block; height:auto; overflow:auto; }

tbody.scrollContent td { border-top:1px solid #DDD; vertical-align:top; position:relative; }
tbody.scrollContent td:first-child { border-left:0; }
tbody.scrollContent tr:first-child td { border-top:0; }

thead.fixedHeader th:before,
tbody.scrollContent td:before { content:""; position:absolute; top:4px; bottom:4px; left:0; border-left:1px solid #DDD; }
thead.fixedHeader th:first-child:before,
tbody.scrollContent td:first-child:before { border-left:0; }

thead.fixedHeader th,
tbody.scrollContent td {  }

thead.fixedHeader th .tdIte,
tbody.scrollContent td .tdIte { padding:16px 8px; }

tbody.scrollContent td a { text-decoration:none; }
tbody.scrollContent td .tdBtn { background:#8CF2A9; color:#333; font-size:.8em; height:34px; line-height:34px; margin:7px 2px; padding:0 8px; text-align:center; text-decoration:none; float:left; cursor:pointer; }
tbody.scrollContent td a:first-child .tdBtn { margin-left:8px; }

tbody.scrollContent td .tdChk { height:34px; line-height:34px; margin:7px 0; }
tbody.scrollContent td .tdChk > input[type=checkbox] { width:50%; height:50%; margin:25%; }


/* linha divisora com letras */

.letra { position:sticky; top:49px; background:#FFF; z-index:99999; }
tr.letra > td { padding-top:0; padding-bottom:0; height:24px; line-height:24px; border-bottom:1px solid #3498db; color:#3498db; }
