

body { font-family:"Trebuchet MS", sans-serif; font-size:14px; color:#323232; background:#FFF; margin:0; padding:0; }


/* cabeçalho da página */

.top { height:47px; line-height:47px; border-bottom:2px solid #3498db; position:fixed; top:0; right:0; left:0; z-index:99998; background:#FFF; }

.top .barMenu { height:inherit; line-height:inherit; margin:0 0 0 360px; transition:ease .6s margin; }
.top .barMenu .menu  { float:left; height:32px; line-height:32px; padding:0 16px; margin:7px 0; border-left:1px solid #DDD; color:#333; }
.top .barMenu a:first-child .menu { border-left:0; }
.top .barMenu:after { content:""; display:block; }


/* espaço de conteúdo da página */

.pg { position:relative; min-height:80vh; min-width:720px; padding:20px 20px 20px 30px; margin:51px 0 0 280px; background:#FFF; transition:ease .6s margin; }




/* caixa ficha com informações de um livro */

.livFicha { width:420px; padding:40px; top:60px; left:50%; margin:0 0 0 -230px; position:fixed; background:#FFF; box-shadow:0px 1px 2px 1px #777; z-index:999999; }
.livFicha_bg { position:fixed; top:0; right:0; bottom:0; left:0; background:#000; opacity:.7; z-index:999998; }

.livFicha .tit { margin:0 0 60px 0; font-size:1.6em; font-weight:300; }

.livFicha .barBtn:after { content:''; display:block; clear:both; }

.livFicha .btnSalvar,
.livFicha .btnCancelar { margin:0 0; width:120px; height:34px; line-height:34px; text-align:center; color:#FFF; transition:all .2s ease; cursor:pointer; border-radius:4px; font-size:.9em; padding:0; }

.livFicha .btnSalvar { float:right; background:#3498db; border:2px solid #3498db; }
.livFicha .btnSalvar:hover { background:none; color:#3498db; }
.livFicha .btnSalvar:disabled { background:#DDD !important; color:#FFF !important; border-color:#DDD !important; }

.livFicha .btnCancelar { float:left; background:#E85E4D; border:2px solid #E85E4D; }
.livFicha .btnCancelar:hover { background:none; color:#E85E4D; }

.livFicha .lin { position:relative; margin:0 0 60px 0; font-size:1em; }

.livFicha .lin .inputText { width:100%; height:34px; line-height:34px; color:#377D6A; background:#FFF; border:0; border-bottom:1px solid #3498db; outline:0; font-size:inherit; }
.livFicha .lin .inputText + label { position:absolute; height:18px; line-height:18px; top:-18px; left:0; color:#3498db; font-size:.9em; }

.livFicha .lin .inputText::-webkit-input-placeholder { color:#DEDEDE; }

.livFicha .err { margin:0 0 40px 0; font-size:.8em; color:#db3434; }








/* caixa ficha com informações para empréstimo de um livro */

.livEmprestar { width:420px; padding:40px; top:60px; left:50%; margin:0 0 0 -230px; position:fixed; background:#FFF; box-shadow:0px 1px 2px 1px #777; z-index:999999; }
.livEmprestar_bg { position:fixed; top:0; right:0; bottom:0; left:0; background:#000; opacity:.7; z-index:999998; }

.livEmprestar .tit { margin:0 0 60px 0; font-size:1.6em; font-weight:300; }

.livEmprestar .inf { min-height:18px; line-height:18px; margin:-50px 0 60px 0; color:#898989; }

.livEmprestar .barBtn:after { content:''; display:block; clear:both; }

.livEmprestar .btnSalvar,
.livEmprestar .btnCancelar { margin:0 0; width:120px; height:34px; line-height:34px; text-align:center; color:#FFF; transition:all .2s ease; cursor:pointer; border-radius:4px; font-size:.9em; padding:0; }

.livEmprestar .btnSalvar { float:right; background:#3498db; border:2px solid #3498db; }
.livEmprestar .btnSalvar:hover { background:none; color:#3498db; }
.livEmprestar .btnSalvar:disabled { background:#DDD !important; color:#FFF !important; border-color:#DDD !important; }

.livEmprestar .btnCancelar { float:left; background:#E85E4D; border:2px solid #E85E4D; }
.livEmprestar .btnCancelar:hover { background:none; color:#E85E4D; }

.livEmprestar .lin { position:relative; margin:0 0 60px 0; font-size:1em; }

.livEmprestar .lin .inputText { width:100%; height:34px; line-height:34px; color:#377D6A; background:#FFF; border:0; border-bottom:1px solid #3498db; outline:0; font-size:inherit; }
.livEmprestar .lin .inputText + label { position:absolute; height:18px; line-height:18px; top:-18px; left:0; color:#3498db; font-size:.9em; }

.livEmprestar .lin .inputText::-webkit-input-placeholder { color:#DEDEDE; }

.livEmprestar .err { margin:0 0 40px 0; font-size:.8em; color:#db3434; }







/* caixa ficha com informações para empréstimo de um livro */

.livDevolver { width:420px; padding:40px; top:60px; left:50%; margin:0 0 0 -230px; position:fixed; background:#FFF; box-shadow:0px 1px 2px 1px #777; z-index:999999; }
.livDevolver_bg { position:fixed; top:0; right:0; bottom:0; left:0; background:#000; opacity:.7; z-index:999998; }

.livDevolver .tit { margin:0 0 60px 0; font-size:1.6em; font-weight:300; }

.livDevolver .inf { min-height:18px; line-height:18px; margin:-50px 0 60px 0; color:#898989; }

.livDevolver .barBtn:after { content:''; display:block; clear:both; }

.livDevolver .btnSalvar,
.livDevolver .btnCancelar { margin:0 0; width:120px; height:34px; line-height:34px; text-align:center; color:#FFF; transition:all .2s ease; cursor:pointer; border-radius:4px; font-size:.9em; padding:0; }

.livDevolver .btnSalvar { float:right; background:#3498db; border:2px solid #3498db; }
.livDevolver .btnSalvar:hover { background:none; color:#3498db; }
.livDevolver .btnSalvar:disabled { background:#DDD !important; color:#FFF !important; border-color:#DDD !important; }

.livDevolver .btnCancelar { float:left; background:#E85E4D; border:2px solid #E85E4D; }
.livDevolver .btnCancelar:hover { background:none; color:#E85E4D; }

.livDevolver .lin { position:relative; margin:0 0 60px 0; font-size:1em; }

.livDevolver .lin .inputText { width:100%; height:34px; line-height:34px; color:#377D6A; background:#FFF; border:0; border-bottom:1px solid #3498db; outline:0; font-size:inherit; }
.livDevolver .lin .inputText + label { position:absolute; height:18px; line-height:18px; top:-18px; left:0; color:#3498db; font-size:.9em; }

.livDevolver .lin .inputText::-webkit-input-placeholder { color:#DEDEDE; }

.livDevolver .err { margin:0 0 40px 0; font-size:.8em; color:#db3434; }