

/* largura das colunas */

thead.fixedHeader th:nth-child( 1 ),
tbody.scrollContent td:nth-child( 1 ) { width:34px; }

thead.fixedHeader th:nth-child( 2 ),
tbody.scrollContent td:nth-child( 2 ) { width:80px; }

thead.fixedHeader th:nth-child( 3 ),
tbody.scrollContent td:nth-child( 3 ) { width:400px; }

thead.fixedHeader th:nth-child( 4 ),
tbody.scrollContent td:nth-child( 4 ) { width:140px; }


tbody.scrollContent td .edt { background:#49BA53; color:#FFF; } /* editar livro */
tbody.scrollContent td .emp { background:#3498DB; color:#FFF; } /* emprestar livro */
tbody.scrollContent td .dev { background:#E8724A; color:#FFF; } /* devolver livro */

tbody.scrollContent td .tdIte .sIte { margin:10px 0 0 0; color:#9A9A9A; font-size:.9em; font-style="italic;" }
tbody.scrollContent td .tdIte .sIte span { cursor:pointer; text-decoration:underline; color:#E8724A; }


