

body { font-family:'Josefin Sans', sans-serif; font-size:21px; color:#323232; background:#DDD; margin:0; padding:0; }


/* caixa de login */

.boxLogin { width:420px; margin:60px auto 0; position:relative; background:#FFF; box-shadow:0px 1px 2px 1px #777; }
.boxLogin > .in { padding:40px; }

.boxLogin .tit { margin:0 0 60px 0; font-size:1.4em; font-weight:300; }

.boxLogin .barBtn:after { content:''; display:block; clear:both; }
.boxLogin .btnSubmit { margin:0 auto; width:120px; height:34px; line-height:34px; text-align:center; background:#3498db; color:#FFF; border:2px solid #3498db; transition:all .2s ease; cursor:pointer; border-radius:4px; font-size:.8em; padding:0; }
.boxLogin .btnSubmit:hover { background:none; color:#3498db; }
.boxLogin .btnSubmit:disabled { background:#DDD !important; color:#FFF !important; border-color:#DDD !important; }

.boxLogin .lin { position:relative; margin:0 0 60px 0; font-size:1em; }

.boxLogin .lin .inputText { width:100%; height:34px; line-height:34px; color:#377D6A; background:#FFF; border:0; border-bottom:1px solid #3498db; outline:0; font-size:inherit; }
.boxLogin .lin .inputText + label { position:absolute; height:18px; line-height:18px; top:-18px; left:0; color:#3498db; font-size:.6em; }

.boxLogin .lin .inputText::-webkit-input-placeholder { color:#DEDEDE; }

.boxLogin .err { margin:0 0 40px 0; font-size:.8em; color:#db3434; }

@media ( max-width:600px ) {
	body { background:#FFF; }
	.boxLogin { width:100%; margin:0; box-shadow:none; }
	.boxLogin .btnSubmit:hover { background:#3498db; color:#FFF; }
}






.spinner { margin:10px auto; width:54px; height:14px; line-height:18px; text-align:center; }
.spinner > div { width:14px; height:14px; margin:0 2px; background:#FFF; border-radius:100%; display:inline-block; -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both; animation:sk-bouncedelay 1.4s infinite ease-in-out both; }
.spinner > div:nth-child( 1 ) { -webkit-animation-delay:-0.32s; animation-delay: -0.32s; }
.spinner > div:nth-child( 2 ) { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform:scale( 0 ) }
  40% { -webkit-transform:scale( 1 ); }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform:scale( 0 ); transform:scale( 0 ); }
  40% { -webkit-transform:scale( 1 ); transform:scale( 1 ); }
}